.container {
  width: 1024px;
  height: 768px;
  background-image: url(../images/background.png);
  background-repeat:no-repeat;
  /*background-attachment:fixed;*/
  background-position:center top;
}

.otro {
  width: 1024px;
  height: 300px;
}

tbody tr:nth-child(even) td, tbody tr.even td {background:none;}

.alturatotal {
    height: 100%;
}

.alturaminima {
    height: 1px;
}

body {
  background: #0299af;
  background-image: url(../images/back_pattern.png);
  background-repeat: repeat-y;
  background-attachment:fixed;
  background-position: center bottom;
  font-size: 10px;
  font-weight: normal;
  line-height: 12px;
  font-family: arial;
}

.conborde {
    border: medium solid;
    padding: 0px;
}

/* Acerca */

.acerca {
  width: 330px;
  height: 219px;
  background-image: url(../images/globo_acerca.png);
  padding: 0px;
  position: relative;
  z-index: 4;
  top: 70px;
  left: 170px;
  display: none;
}

.acerca .contenido_globo {
  color: #949292;
  float: left;
  position: relative;
  top: -40px;
  left: 55px;
  width: 220px;
  height: 140px;
}

/* Contacto */

.contacto {
  width: 284px;
  height: 186px;
  background-image: url(../images/globo_contacto.png);
  padding: 0px;
  position: relative;
  z-index: 3;
  top: 70px;
  left: 230px;
  display: none;
}

.contacto .contenido_globo {
  line-height: 18px;
  color: #949292;
  float: left;
  position: relative;
  top: -60px;
  left: 65px;
  width: 170px;
  height: 140px;
}

.facebook_img {
  vertical-align: middle;
  padding-right: 10px;
  background-image: url(../images/feisbuc_cursor_on.png);
  background-repeat:no-repeat;
}

.twitter_img {
  vertical-align: middle;
  padding-right: 10px;
  padding-left: 10px;
}
/* Logo */

.logo {
  padding-top: 0px;
  float: left;
  position: relative;
  z-index: 2;
  top: 130px;
  left: 660px;
}

/* Links */

a {
  color: #09c;
  text-decoration: none;
}

a:hover {
  color: #069;
  text-decoration: none;
}

a:visited {
  color: #069;
}

/* Navigation */

nav {
  text-align: center;
  float: left;
  position: relative;
  z-index: 1;
  top: 50px;
  color: #b2b2b2;
  /*right: 440px*/
}

nav ul {
    margin: 0;
    padding: 0;
}

nav ul li {
    list-style-type: none;
    display: inline-block;
    padding-left: 5px;
    padding-right: 5px;
    color: #bebebe;
}

nav ul li a {
    color: #bebebe;
}

nav ul li a:visited {
    color: #bebebe;
}

nav ul li a:hover {
    text-decoration: none;
    color: #949292;
}


/* Round corners */

.round {    color: #b2b2b2;

    -moz-border-radius:     10px;
    -webkit-border-radius:  10px;
    border-radius:          10px;
}

/* Footer Styling */


footer {
    text-align: center;
    position: relative;
    /*width:      710px;
    margin-left: auto;
    margin-right: auto;*/
}

footer ul {
    margin: 0;
    padding: 0;
}

footer ul li {
    list-style-type: none;
    display: inline-block;
    padding-left: 5px;
    padding-right: 5px;
    color: #bebebe;
     /*font-family: Arial;*/
}

footer ul li a {
    font-weight: normal;
}

footer ul li a:visited {
    color: #bebebe;
}

footer ul li a:hover {
    text-decoration: none;
    color: #949292;
}

/* El Tab */

.slide-out-div {
    padding: 20px;
    width: 250px;
    background: #fff;
    border: 1px solid #29216d;
}
