.container {
  width: 1024px;
  height: 768px;
  background-image: url(../images/background.png);
  background-repeat:no-repeat;
  /*background-attachment:fixed;*/
}

tbody tr:nth-child(even) td, tbody tr.even td {background:none;}

.alturatotal {
    height: 100%;
}

.alturaminima {
    height: 1px;
}

body {
  background: #0299af;
  /*background-image: url(../images/backrightpixel.png), url(../images/backleftpixel.png);*/
  background-repeat: repeat-x;
  background-position: top left, top right;
}

.conborde {
    border: medium solid;
    padding: 0px;
}

.logo {
  padding-top: 0px;
  float: left;
  position: relative;
  z-index: 2;
  top: 10px;
  left: 660px;
}

/* Links */

a {
  color: #09c;
  text-decoration: none;
}

a:hover {
  color: #069;
  text-decoration: none;
}

a:visited {
  color: #069;
}

/* Navigation */

nav {
  text-align: center;
  float: left;
  position: relative;
  z-index: 1;
  top: -50px;
  color: #b2b2b2;
  /*right: 440px*/
}

nav ul {
    margin: 0;
    padding: 0;
}

nav ul li {
    list-style-type: none;
    display: inline-block;
    padding-left: 5px;
    padding-right: 5px;
    color: #b2b2b2;
     /*font-family: Arial;*/
}

nav ul li a {
    font-weight: bold;
    color: #b2b2b2;
}

nav ul li a:visited {
    color: #b2b2b2;
}

nav ul li a:hover {
    text-decoration: none;
    color: #737373;
}


/* Round corners */

.round {    color: #b2b2b2;

    -moz-border-radius:     10px;
    -webkit-border-radius:  10px;
    border-radius:          10px;
}

/* Footer Styling */


footer {
    text-align: center;
    position: relative;
    /*width:      710px;
    margin-left: auto;
    margin-right: auto;*/
}

footer ul {
    margin: 0;
    padding: 0;
}

footer ul li {
    list-style-type: none;
    display: inline-block;
    padding-left: 5px;
    padding-right: 5px;
    color: #038ea4;
     /*font-family: Arial;*/
}

footer ul li a {
    font-weight: bold;
}

footer ul li a:visited {
    color: #038ea4;
}

footer ul li a:hover {
    text-decoration: none;
    color: #737373;
}

