<footer>
  <ul>
    <li><%= link_to '2011 kari akito producciones c.a.', root_path %></li>
    <li>|</li>
    <li>rif-j-29540679-7</li>
    <li>|</li>
    <li>todos los derechos reservados</a></li>
    <li>|</li>
    <li><%= link_to 'programado por', 'http://twitter.com/destrozates' %></li>
  </ul>
</footer>
