<footer>
  <table>
    <tr>
      <td><%= link_to 'About', '#' %></td>
      <td><%= link_to 'Contact', '#' %></td>
      <td><a href="http://news.railstutorial.org/">News</a></td>
      <td><a href="http://www.railstutorial.org/">Rails Tutorial</a></td>
      <td><a href="http://twitter.com/destrozates">Webmaster</a></td>
    </tr>
  </table>
</footer>
