<div class="acerca" id="acerca">
  <div class="contenido_globo"><br><br>
  Somos un estudio creativo especializado<br>
  en la producción y desarrollo de contenidos
  audiovisuales. Interpretamos las necesidades
  de nuestros clientes para generar proyectos
  que huyan de la pava que traen consigo<br>
  las malas ideas.<br><br>
  Kari Akito,<br>
  desde 2007.
  </div>
</div>
