<div class="contacto" id="contacto">
  <div class="contenido_globo"><br><br>
  akito@kariakito.com<br>
  + 58 212 744 70 08<br>
  + 58 412 566 40 83<br>
  <%= link_to facebook_off, "http://facebook.com/kariakito", :id => 'facebook_off' %><%= link_to facebook_on, "http://facebook.com/kariakito", :id => 'facebook_on' %> kariakito
  <%= link_to twitter_off, "http://twitter.com/kariakito", :id => 'twitter_off' %><%= link_to twitter_on, "http://twitter.com/kariakito", :id => 'twitter_on' %> @kariakito
  </div>
</div>
