<div class="slide-out-div">
  <a class="handle" href="http://link-for-non-js-users.html">Content</a>
  <h3><%= twitter_on %>Malena/Marco</h3>
  <p>Esto es una prueba para que vean esta opción.</p>
  <p>Malena lo pidió!!!</p>
</div>
